/*!
 *================================
 * @authors: Mabdel200
 * @description: theme colors
 */

$primary: #a368f3;
$secondary: #c9cb12;
$success: #00ac69;
$danger: #e81500;
$warning: #f4a100;
$info: #00b2b5;
