
<div id="layoutAuthentication">
    <!-- Layout content-->
    <div id="layoutAuthentication_content">
        <!-- Main page content-->
        <main>
            <!-- Main content container-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-10 col-xl-10 col-lg-12">
                        <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-4">
                            <div class="row g-0">
                                <div class="col-lg-5 col-md-6">
                                    <div class="card-body p-5">
                                        <!-- Auth header with logo image-->
                                        <div class="text-center">
                                            <img class="mb-3" src="assets/images/logo_univ_bertoua.jpg" alt="..."
                                                style="height: 48px">
                                            <h1 class="display-5 mb-0">Authentification</h1>
                                            <div class="subheading-1 mb-5">Veillez renseigner vos identifiants </div>
                                        </div>

                                        <!-- Login submission form-->
                                        <form method="post" class="mb-5">

                                            <div class="mb-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Adresse mail</label>
                                                    <input type="email" class="form-control" name="email"
                                                        id="exampleInputEmail1" aria-describedby="emailHelp"
                                                        placeholder="Enter email">
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Mot de passe</label>
                                                    <input type="password" class="form-control"
                                                        id="exampleInputPassword1" placeholder="Password">
                                                    <small id="emailHelp" class="form-text text-muted">renseigner votre
                                                        identifiant.</small>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Se souvenir de
                                                        moi</label>
                                                </div>
                                            </div>
                                            <div
                                                class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small fw-500 text-decoration-none text-success"
                                                   >Mot de passe oublier?</a>
                                                <a class="btn btn-success mdc-ripple-upgraded" routerLink="administrator/dashboard" >Se
                                                    connecter</a>
                                            </div>
                                        </form>
                                        <!-- Auth card message-->
                                        <div class="text-center"><a
                                                class="small fw-500 text-decoration-none text-success"
                                                href="register.html">Nouveau? Creer un compte!</a></div>
                                    </div>
                                </div>
                                <!-- Background image column using inline CSS-->
                                <div class="col-lg-7 col-md-6 d-none d-md-block"
                                    style="background-image: url('assets/images/student.webp'); background-size: cover; background-repeat: no-repeat; background-position: center">
                                    <img class="mb-3" src="assets/images/logo_univ_bertoua.jpg" alt="..."
                                        style="height: 48px; margin-left: 45%; margin-top: 5%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
