<nav class="top-app-bar navbar navbar-expand navbar-dark bg-success">
    <div class="container-fluid px-4">
        <!-- Drawer toggle button-->
        <button class="btn btn-lg btn-icon order-1 order-lg-0 mdc-ripple-upgraded" id="drawerToggle" href="/"><i class="material-icons">menu</i></button>
        <!-- Navbar brand-->
        <a class="navbar-brand me-auto" href="/"><div class="text-uppercase font-monospace">ENS bertoua</div></a>
        <!-- Navbar items-->
        <div class="d-flex align-items-center mx-3 me-lg-0">
            <!-- Navbar-->
          
            <!-- Navbar buttons-->
              <!-- Navbar buttons-->
              <div class="d-flex">
                <!-- Messages dropdown-->
                <div class="dropdown dropdown-notifications d-none d-sm-block">
                    <button class="btn btn-lg btn-icon dropdown-toggle me-3 mdc-ripple-upgraded" id="dropdownMenuMessages" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">mail_outline</i></button>
                    <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden" aria-labelledby="dropdownMenuMessages">
                        <li><h6 class="dropdown-header bg-success text-white fw-500 py-3">Messages</h6></li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item unread mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text"><div class="text-truncate d-inline-block" style="max-width: 18rem">Hi i'm mister abdel can you help me?</div></div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2023 · </div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <div class="dropdown-item-content">
                                    <div class="dropdown-item-content-text"><div class="text-truncate d-inline-block" style="max-width: 18rem">Thanks for the assistance .</div></div>
                                    <div class="dropdown-item-content-subtext">Mar 12, 2023 · Support</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0"></li>
                     
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item py-3 mdc-ripple-upgraded" href="#!">
                                <div class="d-flex align-items-center w-100 justify-content-end text-success">
                                    <div class="fst-button small">View all</div>
                                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Notifications and alerts dropdown-->
                <div class="dropdown dropdown-notifications d-none d-sm-block">
                    <button class="btn btn-lg btn-icon dropdown-toggle me-3 mdc-ripple-upgraded" id="dropdownMenuNotifications" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">notifications</i></button>
                    <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden" aria-labelledby="dropdownMenuNotifications">
                        <li><h6 class="dropdown-header bg-success text-white fw-500 py-3">Alerts</h6></li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item unread mdc-ripple-upgraded" href="#!">
                                <i class="material-icons leading-icon">assessment</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">ENS bertoua .</div>
                                    <div class="dropdown-item-content-subtext">May 01, 2023 · Performance</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <i class="material-icons leading-icon">check_circle</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Conference .</div>
                                    <div class="dropdown-item-content-subtext">May 02, 2023 · </div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <i class="material-icons leading-icon">warning</i>
                                <div class="dropdown-item-content me-2">
                                    <div class="dropdown-item-content-text">Culturelle.</div>
                                    <div class="dropdown-item-content-subtext">May 03, 2023 · Coverage</div>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider my-0"></li>
                        <li>
                            <a class="dropdown-item py-3 mdc-ripple-upgraded" href="#!">
                                <div class="d-flex align-items-center w-100 justify-content-end text-success">
                                    <div class="fst-button small">Voir plus</div>
                                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- User profile dropdown-->
                <div class="dropdown">
                    <button class="btn btn-lg btn-icon dropdown-toggle mdc-ripple-upgraded" id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">person</i></button>
                    <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownMenuProfile">
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <i class="material-icons leading-icon">person</i>
                                <div class="me-3">Profile</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <i class="material-icons leading-icon">settings</i>
                                <div class="me-3">Reglages</div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="#!">
                                <i class="material-icons leading-icon">help</i>
                                <div class="me-3">Aide</div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item mdc-ripple-upgraded" href="/login">
                                <i class="material-icons leading-icon">logout</i>
                                <div class="me-3">Se déconnecter</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>