<div class="container-xl p-5">
    <div class="row justify-content-between align-items-center mb-5">
        <div class="col flex-shrink-0 mb-5 mb-md-0">
            <h1 class="display-4 mb-0">EC (Enseignements complémentaires)</h1>
            <div class="text-muted">Liste des EC (Enseignements complémentaires)</div>
        </div>

    </div>


    <div class="card card-raised">
        <div class="card-header  bg-success text-white px-4">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-4">
                    <h2 class="card-title text-white mb-0">
                        <button class="btn btn-md btn-success btn-text-white" type="button" routerLink="/administrator/module/nouveau">Nouveau</button>
                        <button class="btn btn-md btn-success btn-text-white" type="button" routerLink="/administrator/module/enregisrement/multiple">Ajout multiple</button>
                    </h2>
                    <div class="card-subtitle"></div>
                </div>
               
            </div>
        </div>
        <div class="card-body p-4">
            <div class="datatable-container"> 
                <button (click)="captureScreen()" class="btn btn-primary mb-3 " style="margin-left: 1px;">
                <i class="material-icons">picture_as_pdf</i> PDF
                </button>

                <div id="contentToConvert" class="container" >
                <!-- Table header -->
                <table id="table-data" class="display table" style="width:100%">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Code</th>
                            <th>Intitule</th>
                            <th>UE</th>
                            <th>Credit</th>
                            <th>Action(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allModules; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.intitule}}</td>
                            <td>{{item.cours.code}}</td>
                            <td>{{item.credit.valeur}}</td>
                            <td class="text-success">
                                <button class="btn btn-primary" (click)="update(item)"> <i class="fa fa-pencil"></i></button> &nbsp;
                                <button class="btn btn-danger" (click)="remove(item.id)"> <i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

             
                </div>
            </div>
        </div>
    </div>
</div>