<div class="container-xl p-5">
    <div class="row justify-content-between align-items-center mb-5">
        <div class="col flex-shrink-0 mb-5 mb-md-0">
            <h1 class="display-4 mb-0">Procès Verbal</h1>
            <div class="text-muted">Liste des étdudiants</div>
        </div>

    </div>

    
    <!-- region filtrage du parcours des etudiants a afficher -->
    <div class="card card-raised">
        <div class="card-header bg-success text-white px-2">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-4">
                    <h2 class="card-title text-white mb-0">
                        <button class="btn text-white" type="button" >
                            <i class="material-icons">group</i> De quel parcours s'agit-il ?
                        </button> 
                    </h2>
                    <div class="card-subtitle"></div>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row g-0">
                <div style="margin-left: 15%;" class="col-lg-7 col-md-7">
                    <div class="card-body p-5">
            
                        <!-- Login submission form-->
                        <form class="mb-5" [formGroup]="form" (ngSubmit)="submit()" >
                            <div class="mb-4">
                                <div class="form-group">
                                    <label for="type">Département </label>
                                    <select class="form-control" (change)="onDepartementChange()"  name="departement" formControlName="departement">
                                        <option value="">Sélectionner</option>
                                        <option *ngFor="let departement of listeDepartements" [value]="departement.code">{{ departement.code }}</option>
                                    </select>
                                </div>
                                <div *ngIf="form.get('departement')?.invalid && form.get('departement')?.touched">
                                    <small class="text-danger" *ngIf="form.get('departement')?.hasError('required')"> {{ errorMessages.required }} </small>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="form-group"  >
                                    <label for="type">Parcours </label>
                                    <select class="form-control"  name="parcours" formControlName="parcours">
                                        <option value="">Sélectionner</option>
                                        <option *ngFor="let parcour of listeParcours" [value]="parcour.label">{{ parcour.label }}</option>
                                    </select>
                                </div>
                                <div *ngIf="form.get('parcours')?.invalid && form.get('parcours')?.touched">
                                    <small class="text-danger" *ngIf="form.get('parcours')?.hasError('required')"> {{ errorMessages.required }} </small>
                                </div>
                            </div>
                        
                            <div class="mb-4">
                                <div class="form-group" >
                                    <label for="type">UE</label>
                                    <select class="form-control" formControlName="cours">
                                        <option value="">Sélectionner une UE</option>
                                        <option *ngFor="let cours of listeCoursDept" [value]="cours.code">{{ cours.code }}</option>
                                    </select>
                                </div>
                                <div *ngIf="form.get('cours')?.invalid && form.get('cours')?.touched">
                                    <small class="text-danger" *ngIf="form.get('cours')?.hasError('required')"> {{ errorMessages.required }} </small>
                                </div>
                            </div>    
                            <!-- Types Sstudents  -->
                            <!-- <div class="mb-4">
                                <div class="form-group" >
                                    <label for="type">Type étudiant</label>
                                    <select class="form-control" formControlName="type_etudiant">
                                        <option value="">Sélectionner un type</option>
                                        <option value="Regulier">Régulier</option>
                                        <option value="Libre">Libre</option>
                                    </select>
                                </div>
                                <div *ngIf="form.get('type_etudiant')?.invalid && form.get('type_etudiant')?.touched">
                                    <small class="text-danger" *ngIf="form.get('cours')?.hasError('required')"> {{ errorMessages.required }} </small>
                                </div>
                            </div>     -->

                            <div class="mb-4">
                                <div class="form-group">
                                    <label for="type">Année académique</label>
                                    <select  class="form-control" formControlName="annee">
                                        <option value="">Sélectionner </option>
                                        <option *ngFor="let annee of listeAnnees" [value]="annee.numeroDebut">{{ annee.code}}</option>
                                    </select>
                                    <div *ngIf="form.get('annee')?.invalid && form.get('annee')?.touched">
                                        <small class="text-danger" *ngIf="form.get('annee')?.hasError('required')"> {{ errorMessages.required }} </small>
            
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="form-group">
                                    <label for="type">Séssion</label>
                                    <select  class="form-control" formControlName="session">
                                        <option value="">Sélectionner une session </option>
                                        <option value="1">Examen</option>
                                        <option value="2">Rattrapage</option>
 
                                    </select>
                                    <div *ngIf="form.get('session')?.invalid && form.get('session')?.touched">
                                        <small class="text-danger" *ngIf="form.get('session')?.hasError('required')"> {{ errorMessages.required }} </small>
                                    </div>
                                </div>
                            </div>
                            
            
            
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button class="btn btn-success" type='submit'>Rechercher</button>
                            </div>
                        </form>
                        <!-- Auth card message-->
            
                    </div>
            
                </div>
            </div>
        </div>
    </div>
    <!-- end region -->


    <div class="card card-raised">
        <div class="card-header bg-success text-white px-4">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-4">
                    <h2 class="card-title text-white mb-0">
                        <button class="btn btn-text-white" type="button" routerLink="/administrator/etudiant/nouveau">
                            <i class="material-icons">add</i> Nouveau
                        </button> 
                        &nbsp;&nbsp;
                        <button class="btn btn-text-white" type="button" routerLink="/administrator/etudiant/enregisrement/multiple">
                            <i class="material-icons">library_add</i> Ajout multiple
                        </button>
                    </h2>
                    <div class="card-subtitle"></div>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
           <div class="datatable-container">
              <button (click)="exportexcel()" class="btn btn-primary mb-3">
                <i class="material-icons">insert_drive_file</i> Excel
              </button>
              <button (click)="captureScreen()" class="btn btn-primary mb-3 ml-3" style="margin-left: 10px;">
                <i class="material-icons">picture_as_pdf</i> PDF
              </button>

              <div id="contentToConvert" class="container" >
                <!-- Table header -->

                <table id="data-header" class="display table" style="width:100%">
                    <thead>
                        <tr>
                            <th class="border-0">
                                <div class="card p-4 mb-5 text-center" style="margin-top: -10rem;">
                                    <p class="mb-0"><b>REPUBLIQUE DU CAMEROUN</b></p>
                                    <p ><b><i>Paix-Travail-Patrie</i></b></p>
                                    <p><b>UNIVERSITE DE BERTOUA</b></p>
                                    <p><b>ECOLE NORMALE SUPERIEURE</b></p>
                                </div>
                            </th>
                            <th class="align-middle">
                                <div class="card-body text-center p-5">
                                    <img class="img-fluid" src="assets/images/logo_ensb.png" alt="image" style="max-width: 9rem;">
                                </div>
                            </th>
                            <th class="border-0">
                                <div  class="card p-4 mb-5 text-center" style="margin-top: -10rem;">
                                    <p class="mb-0"><b>REPUBLIC OF CAMEROON</b></p>
                                    <p ><b><i>Peace-Work-Fatherland</i></b> </p>
                                    <p><b>UNIVERSITY OF BERTOUA</b> </p>
                                    <p><b>HIGHER NORMAL SCHOOL</b></p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="align-middle">
                            <td colspan="3" class="text-info text-center align-middle"><b> PROCÈS-VERBAL DE L&#39;UNITÉ D&#39;ENSEIGNEMENT
                            </b></td>
                        </tr>
                        <tr  class="align-middle">
                            <td colspan="2" class="text-center align-middle" ><b style="margin-left:-27%;" *ngIf="listeEtudiantOfParcours">Unité : {{listeEtudiantOfParcours[0].code}} {{listeEtudiantOfParcours[0].intitule}}</b></td>
                            <td colspan="2" class="text-center align-middle"><b *ngIf="listeEtudiantOfParcours">Crédit UE :  {{listeEtudiantOfParcours[0].credit}}</b></td>
                        </tr>
                        <tr  class="align-middle">
                            <td colspan="1" class=" text-center align-middle"><b *ngIf="listeEtudiantOfParcours">Filière : {{listeEtudiantOfParcours[0].label}}</b></td>
                            <td colspan="2" class=" text-center align-middle"><b style="margin-left: 50%;" *ngIf="listeEtudiantOfParcours">Session : S{{listeEtudiantOfParcours[0].session}}</b></td>
                        </tr>
                        <tr class="align-middle">
                            <td colspan="3" class="text-info text-center align-middle"><b *ngIf="listeEtudiantOfParcours">Année académique : {{listeEtudiantOfParcours[0].anneeAcademique}} </b></td>
                        </tr>
                    </tbody>
                </table>
                

                <!--  Table of Student -->     
                <table id="table-data" class="table table-striped table-bordered table-sm row-border hover" datatable>
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th>Matricule</th>
                        <th>Noms & Prenoms</th>
                        <th>Note TPE/20</th>
                        <th>Note CC/20</th>
                        <th>Note TD-TP/20</th>
                        <th>Moyenne CC/30</th>
                        <th>Examen /70</th>
                        <th>Moyenne générale /100</th>
                        <th>MGP</th>
                        <th>Décision</th>
                        <th>Mention</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="listeEtudiantOfParcours">
                      <ng-container *ngFor="let note of listeEtudiantOfParcours; let i = index">
                        <tr>
                          <td>{{ i + 1 }}</td>
                          <td><b>{{ note.matricule }}</b></td>
                          <td><b>{{ note.nom }}</b> </td>
                           <!-- Note TPE -->
                           <td><b>{{ getNoteValue(note, 'TPE') }}</b></td>
                           <!-- Note CC -->
                           <td><b>{{ getNoteValue(note, 'CC') }}</b></td> 
                            <!-- Note TP -->
                            <td><b>{{ getNoteValue(note, 'TP') }}</b></td>
                            <!-- Moyenne CC/30 -->
                            <td><b>{{ note.ccSurTrente }}</b></td>
                            <!-- Examen /70 -->
                            <td><b>{{ getNoteValue(note, 'EE') }}</b></td>
                            <!-- <td>{{ note.notes[3].valeur}}</td> -->
                            <td><b>{{ note.moyenneSurCent}}</b></td>
                            <td><b>{{ note.mgp}}</b></td>
                            <td><b>{{ note.decision}}</b></td>
                            <td><b>{{ note.grade}}</b></td>
                                
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  
              </div>
             
            </div>

        </div>
    </div>
</div>