<header class="bg-info" style="background-color: #6e83d3;">
    <div class="container-xl px-5">
        <h1 class="text-white py-3 mb-0 display-6 text-center">enregisrement multiple</h1>
    </div>
</header>
<div class="row g-0">
    <div style="margin-left: 15%;" class="col-lg-7 col-md-7">
        <div class="card-body p-5">

            <!-- Login submission form-->
            <form class="mb-5">
                <!-- <div class="mb-4">
                    <div class="form-group">
                        <label for="type">EC</label>
                        <select name="" id="" class="form-control" formControlName="module_id">
                            <option  *ngFor="let item of module" ngValue="{{item.id}}">{{item.code}} </option>
                        </select>
                        <div *ngIf="formCours.get('type_cours_id')?.invalid && formCours.get('type_cours_id')?.touched">
                            <small class="text-danger" *ngIf="formCours.get('type_cours_id')?.hasError('required')"> {{
                                errorMessages.required }} </small>

                        </div>

                    </div>
                </div> -->
                <div class="mb-4">
                    <div class="form-group">
                        <label for="type">UE</label>
                        <select name="" id="" class="form-control" formControlName="cours_id">
                            <option  *ngFor="let item of cours" ngValue="{{item.id}}">{{item.code}} </option>
                        </select>
                        <!-- <div *ngIf="formCours.get('type_cours_id')?.invalid && formCours.get('type_cours_id')?.touched">
                            <small class="text-danger" *ngIf="formCours.get('type_cours_id')?.hasError('required')"> {{
                                errorMessages.required }} </small>

                        </div> -->

                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-group">
                        <label for="type">Credit</label>
                        <select name="" id="" class="form-control" formControlName="type_cours_id">
                            <option  *ngFor="let item of credit" ngValue="{{item.id}}">{{item.valeur}}</option>
                        </select>
                        <!-- <div *ngIf="formCours.get('type_cours_id')?.invalid && formCours.get('type_cours_id')?.touched">
                            <small class="text-danger" *ngIf="formCours.get('type_cours_id')?.hasError('required')"> {{
                                errorMessages.required }} </small>

                        </div> -->
                    </div>
                </div>

                <div class="mb-4">
                    <div class="form-group">
                        <label>Fichier excel </label>
                        <input type="file" class="form-control" >
                        <!-- @if (name.invalid) {
                            <mat-error>{{getErrorMessage()}}</mat-error>
                            }  -->
                    </div>
                </div>

                <div class="form-group d-flex align-items-center  mt-4 mb-0">
                    <button class="btn btn-primary"  routerLink="/administrator/module/">Annuler</button> &nbsp;
                    <button class="btn btn-success" type='submit' >Ajouter</button>
                </div>
            </form>
            <!-- Auth card message-->

        </div>

    </div>
</div>